
@{
    ViewData["Title"] = "Inicio  ";
}


<div>Index Tipo Medicamentos</div>

<div id="divTabla">
        
</div> 


<script src="~/js/Helpers.js"></script>
<script src="~/js/tipo_medicamento.js"></script>